<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>www.bootstrapmb.com - Apple iMessage in CSS</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <!-- partial:index.partial.html -->
        <div class="container">
            <div class="imessage">
                <p class="from-them">It was loud. We just laid there and said &ldquo;is this an earthquake? I think this is an earthquake.&rdquo;</p>
                <p class="from-me">Like is this an earthquake just go back to sleep</p>
                <p class="from-them margin-b_one">It &rsquo;s more like &ldquo;this is an earthquake. Check the Internet. Yup. Earthquake. This is the size. This is the epicenter. Check social media. Make sure the East Coast knows I &rsquo;m alive. Okay,try and go back to sleep.&rdquo;</p>
                <p class="from-me no-tail">👍🏻</p>
                <p class="from-me no-tail">Glad you &rsquo;re safe</p>
            </div>
            <p class="comment">So now it's time for me to get back to work:</p>
        </div>
        <!-- partial -->
    </body>
</html>
